<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Random title </title>
</head>
<style>
    .bdd{
        background-image:url("C:\Users\H376431\source\repos\Rezide\wwwroot\images\Chair_rotate.png");
    }
</style>
<body class="bdd">
    <p> Tester profile for obtaining a background</p>
</body>
</html>